
body{
    background-color: white;
    display: flex;
}


h1 {
    font-size: 20px;
}

h2 {
    font-size: 16px;
    margin-top: 10px;
}

.main-div {
    display: flex;
    flex-direction: column;
}

.config {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.dataset-radio,
.feature-checklist-item {
    font-size:20; 
    color:rgb(23,81,135);
}

.config-button {
    margin: 10px 0px 10px 0px;

}


