
body{
    background-color: white;
    margin: 0;
}

.main-div {
    display: flex;
}

.checklist {
    padding-left: 20px;
}

.feature-checklist-item {
    font-size:20; 
    color:rgb(23,81,135);
}